h2{
  color: antiquewhite;
  display: flex;
  justify-content: center;
}
body{
 
background-image: url('https://i.pinimg.com/564x/48/e9/6f/48e96f47982c0627e77dea42c1c884df.jpg');
}
h3{
  color: antiquewhite;
  font-weight: bold;
}
h4{
  color: antiquewhite;
  font-size: large;
}
p{
  color: antiquewhite;
}
a{
  color: antiquewhite;
  font-size: large;
}